/* Genel Ayarlar */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #ffcc00;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #0a0a0a;
}

header .logo h1 {
    margin: 0;
    font-size: 24px;
    text-transform: uppercase;
}

header nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 20px;
}

header nav a:hover {
    text-decoration: underline;
}

/* Sipariş Grid */
.order-grid {
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(3, 1fr); /* Üç sütun */
}

/* Sipariş Kartı */
.order-card {
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.order-card h2 {
    font-size: 18px;
    margin: 0 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-card h2 .order-id {
    font-size: 14px;
    color: #666;
}

.order-card span {
    font-size: 20px;
    color: #e2ac0d;
}

.order-card p {
    margin: 5px 0;
    font-size: 14px;
}

.order-card ul {
    list-style: disc;
    padding-left: 20px;
}

.order-card ul li {
    margin-bottom: 5px;
    font-size: 14px;
}

/* Durum Butonları */
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.buttons button {
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    color: grey;
    text-transform: uppercase;
    opacity: 0.7;
    
}

.buttons.button:hover {
    opacity: 0.65;
}

/* Seçili Durum Butonu */
.buttons.button.active {
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    opacity: 1;
}
.status-text{
    text-transform: uppercase;
    padding-top: 10px;
}


